<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name ="conn" connectionString="Server=LAPTOP-2QFANLP1\SQLEXPRESS;Initial Catalog=LMS;Integrated Security=True"/>
	</connectionStrings>
</configuration>